<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class='header'> Chào mừng bạn đã trở lại </div>
    <div class='title'>Báo cáo</div>

    <div class='filter'>
        <div class="label"> Từ ngày </div>
        <input type="date" id="start-date" onchange="report()">
        <div class="label"> Đến ngày </div>
        <input type="date" id="end-date" onchange="report()">
    </div>

    <div class="overview">
        <div class="section-title"> Tổng quan </div>
        <div class="content">
            <div>
                <b>Tổng số đơn hàng: </b>
                <span id="count-invoice"></span>
            </div>
            <div>
                <b>Tổng số doanh thu: </b>
                <span id="count-revenue"></span>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="section-title"> Thống kê theo sản phẩm </div>
        <div class="content">
            <div id="by-product">
                <table>
                    <th>
                        <td> STT </td>
                        <td> Mã khách hàng</td>
                        <td> Họ tên khách hàng </td>
                        <td> Tổng doanh thu </td>
                    </th>
                </table>
            </div>
        </div>
    </div>

    <div class="customer">
        <div class="section-title"> Thống kê theo khách hàng </div>
        <div class="content">
            <div id="by-customer">
                <table>
                    <th>
                        <td> STT </td>
                        <td> Mã sản phẩm</td>
                        <td> Tên sản phẩm </td>
                        <td> Đơn giá </td>
                        <td> Tổng doanh thu </td>
                    </th>
                </table>
            </div>
        </div>
    </div>

    <script>

        function report() {
            var start_date = document.getElementById("start-date").value;
            var end_date = document.getElementById("end-date").value;

            var all_products = JSON.parse('{{ products | safe }}');
            var all_customers = JSON.parse('{{ customers | safe }}');
            var all_invoices = JSON.parse('{{ invoices | safe }}');
            var all_invoicedetails = JSON.parse('{{ invoicedetails | safe }}');

            var invoices =[];
            all_invoices.forEach(function(e) {
                if ((e.NGHD >= start_date || !start_date) && (e.NGHD <= end_date || !end_date)) {
                    invoices.push(e)
                }
            });

            var details = [];
            var total = 0;
            all_invoicedetails.forEach(function(e) {
                var detail = {};
                var found = 0;
                var i=0;
                for (i = 0; i < invoices.length; i++) {
                    if (invoices[i].SOHD == e.SOHD) {
                        detail.SOHD = e.SOHD;
                        detail.MASP = e.MASP;
                        detail.NGHD = invoices[i].NGHD;
                        detail.MAKH = invoices[i].MAKH;
                        detail.MANV = invoices[i].MANV;
                        detail.SL = e.SL;
                        found = 1;
                        break;
                    }
                }

                if (!found) return;

                found = 0;
                for (i=0; i < all_products; i++) {
                    if (all_products[i].MASP == e.MASP) {
                        detail.TENSP = all_products[i].TENSP;
                        detail.DVT = all_products[i].DVT;
                        detail.GIA = all_products[i].GIA;

                        if (!isset(all_products[i]).total) {
                            all_products[i].total = 0;
                        }
                        all_products[i].total += detail.GIA * detail.SL;
                        total += detail.GIA * detail.SL;

                        found = 1;
                        break;
                    }
                }

                if (!found) return;
                detail.MAKH = 0;

                for (i=0; i < all_customers; i++) {
                    if (all_customers[i].MAKH == e.MAKH) {
                        detail.HOTENKH = all_customers[i].HOTEN;

                        if (!isset(all_customers[i]).total) {
                            all_customers[i].total = 0;
                        }
                        all_customers[i].total += detail.GIA * detail.SL;
                        break;
                    }
                }

                details.push(detail);
            });

            document.getElementById("count-invoice").textContent = invoices.length;
            document.getElementById("count-revenue").textContent = total;

            all_customers.forEach(function(e) {
                e.total = 0;
                for (var i = 0; i < details.length; i++) {
                    if (details[i].MAKH == e.MAKH) {
                        e.total += details[i].GIA * details[i].SL
                    }
                }
            });

            all_customers.sort(function(a,b) {
                return (a.total - b.total)
            });

            html_customers = '';
            for (var i=0; i < Math.min(all_customers.length, 10); i++) {
                html_customers += `
                    <tr>
                        <td>${i+1}</td>
                        <td>${e.MAKH}</td>
                        <td>${e.HOTENKH}</td>
                        <td>${e.total}</td>
                    </tr>`;
            };
            document.getElementById("by-customer").append(html_customers);


            all_products.forEach(function(e) {
                e.total = 0;
                for (var i = 0; i < details.length; i++) {
                    if (details[i].MASP == e.MASP) {
                        e.total += details[i].GIA * details[i].SL;
                    }
                }
            });

            all_products.sort(function(a,b) {
                return (a.total - b.total)
            });

            html_products = '';
            for (var i=0; i < Math.min(all_products.length, 10); i++) {
                html_products += `
                    <tr>
                        <td>${i+1}</td>
                        <td>${e.MASP}</td>
                        <td>${e.TENSP}</td>
                        <td>${e.GIA}</td>
                        <td>${e.total}</td>
                    </tr>`;
            };
            document.getElementById("by-product").append(html_products);

        }
        report();
    </script>
</body>
</html>